<div id="landing-wrapper" class="container-fluid">
    <div class="row h-100">
        <div id="side-text" class="col-6">
            <div id="divlogo">
                <span id="logo" class="white-letter center-element">B-Alert</span>
              </div>
            <div id="divtext">
                <span id="text" class="white-letter center-element">
                  Con B-Alert, despiértese suavemente al ritmo de su música favorita sin temor a desactivar la alarma de forma involuntaria. Nuestro despertador inteligente incluye funciones que le sacarán de la cama sin posponer la alarma demasiadas veces.
                </span>
            </div>  
        </div>
        <div id="side-image" class="col-6">
          <div class="row" id="divbutton2">
            <div class="col-3">
              <button type="button" class="btn btn-lg btn-primary" disabled>
                Registrarse
              </button>
            </div>  
            <div class="col-3">
              <button type="button" routerLink="/login" class="btn btn-outline-primary">Ingresar</button>
            </div>
          </div>  
          <div id="divimage">
              <img [src]="clockImagePath">
          </div>
        </div>

</div>
