<div id="login-wrapper" class="container-fluid">
    <div class="row h-100">
        <div id="block_internal">
            <div>
                <span id="arrow-back" routerLink="/" class="material-symbols-outlined">arrow_back</span>
              </div>
            <div id="divavatar">
                <img [src]="avatarImagePath">
            </div>
            <div id="divinputs">
            <div class="mb-1 w-50">
                   <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Usuario">

              </div>
              <div></div>
              <div class="mb-1 w-50" >
                <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="Password">
              </div>
            </div>
            <div id="diventer">
                <span class='material-symbols-outlined' id="arrow_circle_right" routerLink="/home">arrow_circle_right</span>
              </div>
        </div>

    </div>

</div>

