<div id="home-wrapper" class="container-fluid">
  <div class="row">
    <div class="col-2">
      <span class="material-symbols-outlined">arrow_back</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Nombre</div>
    <div class="col">
      <div class="mb-3">
        <input type="text" class="form-control" id="name-input" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">Descripción</div>
    <div class="col">
      <div class="mb-3">
        <textarea
          class="form-control"
          id="description-area"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">Intervalos</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <span class="badge rounded-pill text-bg-secondary"
                >11:00 a.m.</span
              >
              -
              <span class="badge rounded-pill text-bg-secondary"
                >11:25 a.m.</span
              >
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="badge rounded-pill text-bg-secondary"
                >11:25 a.m.</span
              >
              -
              <span class="badge rounded-pill text-bg-secondary"
                >11:30 a.m.</span
              >
            </div>
          </div>
        </div>
        <div class="col">
          <span class="material-symbols-outlined"> add_circle </span>
          <span class="material-symbols-outlined"> delete </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">Repetir</div>
    <div class="col">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio-daily"
          value="option1"
          checked
        />
        <label class="form-check-label" for="radio-daily">Diario</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio-week"
          value="option2"
        />
        <label class="form-check-label" for="radio-week">Semanal</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio-days"
          value="option3"
        />
        <label class="form-check-label" for="radio-days">Por días</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">Tono</div>
    <div class="col">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-info">Info</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-success">Success</button>
    </div>ß
  </div>
</div>
