<div id="home-wrapper" class="container-fluid">
  <div class="row">
    <div class="col-2">
      <span id="arrow-back" routerLink="/home" class="material-symbols-outlined">arrow_back</span>
    </div>
  </div>
  <div id="form-creation">
    <div class="row margin-top-space">
      <div class="col">
        <span class="form-text">Nombre</span>
      </div>
      <div class="col">
        <div class="mb-3">
          <input type="text" class="form-control" id="name-input" />
        </div>
      </div>
    </div>
    <div class="row margin-top-space">
      <div class="col">
        <span class="form-text">Descripción</span>
      </div>
      <div class="col">
        <div class="mb-3">
          <textarea
            class="form-control"
            id="description-area"
            rows="3"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row margin-top-space">
      <div class="col">
        <span class="form-text">Intervalos</span>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col">
                <span class="badge rounded-pill text-bg-secondary"
                  >11:00 a.m.</span
                >
                -
                <span class="badge rounded-pill text-bg-secondary"
                  >11:25 a.m.</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="badge rounded-pill text-bg-secondary"
                  >11:25 a.m.</span
                >
                -
                <span class="badge rounded-pill text-bg-secondary"
                  >11:30 a.m.</span
                >
              </div>
            </div>
          </div>
          <div class="col-3">
            <span class="material-symbols-outlined"> add_circle </span>
            <span class="material-symbols-outlined"> delete </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-space">
      <div class="col">
        <span class="form-text">Repetir</span>
      </div>
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio-daily"
            value="option1"
            checked
          />
          <label class="form-check-label" for="radio-daily">Diario</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio-week"
            value="option2"
          />
          <label class="form-check-label" for="radio-week">Semanal</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio-days"
            value="option3"
          />
          <label class="form-check-label" for="radio-days">Por días</label>
        </div>
      </div>
    </div>
    <div class="row margin-top-space">
      <div class="col">
        <span class="form-text">Tono</span>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Selecciona ...
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Jungle</a></li>
            <li><a class="dropdown-item" href="#">Drumbs</a></li>
            <li><a class="dropdown-item" href="#">Zamba</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row margin-top-space">
      <div class="col"></div>
      <div class="col-3">
        <button type="button" routerLink="/home" class="btn btn-outline-info cancel">
          Cancelar
        </button>
      </div>
      <div class="col-3">
        <button type="button" routerLink="/home" class="btn btn-success save">Guardar</button>
      </div>
    </div>
  </div>
</div>
