#home-wrapper {
  height: 100vh;
  width: 100%;
  background: rgb(5, 59, 80);
  background: linear-gradient(
    127deg,
    rgba(5, 59, 80, 1) 0%,
    rgba(238, 238, 238, 0.39537821964723385) 50%
  );
}

#arrow-back {
  color: #eeeeee;
  padding: 1rem;
  font-size: 3rem;
}

#arrow-back:hover {
  cursor: pointer;
}

#form-creation {
  background-color: rgba(5, 59, 80, 0.2);
  margin: 0 20%;
  padding: 1% 10%;
  border-radius: 5%;
}

.margin-top-space {
  margin-top: 4rem;
}

.cancel {
  font-weight: bold;
  color: #053b50;
  border: 2px solid #053b50;
}

.cancel:hover {
  color: white;
  background-color: #053b50;
  border: 2px solid white;
}

.save {
  font-weight: bold;
  background-color: #053b50;
  color: white;
  border: 2px solid #053b50;
}

.material-symbols-outlined{
    color: #053b50;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color: #64ccc6;
}

.form-check-input:hover{
    cursor: pointer;
}

.form-text{
    color: #053b50;
    font-size: 1.5rem;
    font-family:  'Audiowide';
    float: right;
    padding-right: 30%;
}

.dropdown-toggle{
    width: 100%;
    background-color: white;
    color: #053b50;
    text-align: right;
}

.dropdown-item{
    width: 100%;
    color: #053b50;
    text-align: right;
}
.dropdown-menu{
    width: 100%;
}