#home-wrapper{
    height: 100vh;
    width: 100%;
    background: rgb(5,59,80);
    background: linear-gradient(127deg, rgba(5,59,80,1) 0%, rgba(238,238,238,0.39537821964723385) 50%);
}

#side-menu{
    background: #176b87;
}

#bottom-side-menu{
    border: 2px solid;
    border-top-color: #64CCC5;
}

.center-element{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center-element-vertical{
    display: flex;
    align-items: center;
    height: 100%;
}

.white-letter{
    color: white;
}

#logo-text{
    font-size: 3.5rem;
    font-family: 'Audiowide';
}

#profile-name{
    font-size: 1.5rem;
    font-family: 'Audiowide';
}

.menu-item{
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Audiowide';
}

.menu-item:hover{
    background-color: #053B50;
    cursor: pointer;
}

.go-details{
    font-weight: bold;
    color: #053B50;
    border: 2px solid #053B50;
}

.go-details:hover{
    color: white;
    background-color: #053B50;
    border: 2px solid white;
}

.body-card-space{
    margin: 1rem 0 1rem 0;
}

#configurations-space{
    padding: 2rem;
}

.card{
    box-shadow: 2px 2px 2px 1px rgb(5,59,80);
    margin-bottom: 2rem;
}

.icon-style:hover{
    cursor: pointer;
}


.btn-flotante {
	font-size: 3rem; 
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border-radius: 50%; 
	letter-spacing: 2px; 
	background-color: #176b87; 
	padding: 10px 30px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	z-index: 99;
    text-decoration: none;
}
.btn-flotante:hover {
	box-shadow: 0px 15px 20px rgb(5,59,80);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 