<div id="home-wrapper" class="container-fluid">
  <div class="row h-100">
    <div id="side-menu" class="col-3">
      <div class="col h-100">
        <div class="row h-25">
          <div class="col h-100">
            <div class="row h-50">
              <span id="logo-text" class="white-letter center-element"
                >B-Alert</span
              >
            </div>
            <div class="row h-25">
              <span id="profile-name" class="white-letter center-element"
                >Bruce Wayne&nbsp;&nbsp;
                <span class="material-icons white-letter icon-style">mode_edit</span></span
              >
            </div>
          </div>
        </div>
        <div class="row h-50">
          <div class="col">
            <div class="row">
              <div class="col-12 menu-item">
                <span class="white-letter center-element-vertical"
                  >Configuraciones</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-12 menu-item">
                <span class="white-letter center-element-vertical"
                  >Mi perfil</span
                >
              </div>
            </div>
          </div>
        </div>
        <div id="bottom-side-menu" class="row h-25">
          <div class="col menu-item">
            <span class="white-letter center-element-vertical"  routerLink="/landingpage" 
              >Cerrar sesión</span
            >
          </div>
        </div>
      </div>
    </div>
    <div id="configurations-space" class="col-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">Días laborales</h5>
                  </div>
                  <div class="col-2">
                    <span class="material-symbols-outlined icon-style"> menu </span>
                  </div>
                </div>
              </div>
              <div class="container body-card-space">
                <div class="row">
                  <div class="col">
                    <p class="card-text">
                      With supporting text below as a natural lead-in to
                      additional content.
                    </p>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                      <div class="col-12">
                        <p class="card-text">9:00 am - 9:15 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" class="btn btn-outline-info go-details"
                >VER DETALLES</a
              >
            </div>
          </div>
        </div>
      </div>
      <a href="#" routerLink="/create-configuration" class="btn-flotante">+</a>
    </div>
  </div>
</div>
